*{
  box-sizing: border-box;
}

body{
  padding:0;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #01cf01;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 50px;
}

.header-title:hover{
cursor:pointer
}
h1{
  margin: 0;
  color: #fff;
}
h2{
  font-size: 2.5rem;
}
.grid {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px 20px;
  justify-items: center;
  width: 100%;
  padding: 0 32px;
}

.post{
  display: flex;
  flex-direction: column;
}

img{
  width: 100%;
}

.title{
  width: 200px;
  margin-top: 5px;
}

.link{
  color: #000;
text-decoration: none;
}

.link:hover{
  color:#01cf01
}

.search {
  border-radius: 24px;
  border: 1px solid #a9a9a9;
  font-size: 14px;
  padding: 4px 8px;
}

.search-button {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  background-color: #eaeaea;
  transition: background-color 0.1s ease-in;
}

.search-button:hover,
.search-button:focus {
  background-color: #eaeaeac9;
}

.search-form {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.button {
  background: #01cf01;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  padding: 8px 16px;
  text-decoration: none;
}

.button:hover{
  cursor:pointer
}
.postPage{
  padding: 0 20px;
  max-width: 700px;
  margin: 0 auto
}

.body img{
  width: 500px;
  height: 500px;
}
.article-detail{
  font-weight: 500;
}

.category-filter{
  max-width: 400px;
  border: 1px solid rgb(196, 196, 196);
  margin: 0 0 50px 32px;
}
.category-title{
  display: flex;
  align-items: center;
  background-color: #dee9de;
  padding-left: 15px;
}

.category-title:hover{
  cursor: pointer;
}
.category-filter h5{
  margin:10px
}
.fleche{
  width:10px
}

.categories{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  transition: all ease-in;
}

footer{
  padding: 40px;
  margin-top: 50px;
  background-color: #01cf01;
}

.emailForm{
  max-width: 500px;
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 10px;
  grid-template-areas: "name email"
                        "subject subject"
                        "message message"
                        "message message"
                        "send erase";
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.subject {
  grid-area: subject;
}

.message {
  grid-area: message;
}

.send {
  grid-area: send;
}
.erase {
  grid-area: erase;
}
.emailForm input, textarea{
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid grey;
}

.send input:hover, .erase input:hover{
  cursor: pointer;
 background-color: #068606;
 color: #eaeaea;
}
form li{
  list-style-type: none;
}

footer h6{
  margin-bottom: 0;
  margin-top: 10px;
  color: rgba(109, 109, 109,0.8);
}